<h1>Hello World</h1>
<p>Voici les listes</p>
<table class="table table-hover table-dark">
  <thead>
    <tr>
      <th scope="col"><span class="fi-media-play"></span></th>
      <th scope="col">Title</th>
      <th scope="col">Release Year</th>
      <th scope="col">Director By</th>
    </tr>
  </thead>
<% @movies.each do |movie| %>
    
    <tbody>
    	<th scope="row"><%= movie.id%></th>
    	<td><%= movie.title%></td>
    	<td><%= movie.release_year%></td>
    	<td><%= movie.director.first_name%></td>
    </tbody>
<% end %>

